<link rel="stylesheet" type="text/css" href="/app/components/user/user.css" >

<div ng-app="userApp" ng-controller="userCtrl" ng-init="init()">
    <div class="input-group">
      <input type="text" 
          class="form-control" 
          placeholder="User Phone" 
          aria-label="User Phone" 
          aria-describedby="basic-addon2" 
          ng-model="key"
          >
      <div class="input-group-append">
          <button type="button" class="btn btn-primary" ng-click="search()">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
          </button>
      </div>
      <button type="button" class="btn btn-outline-primary ml-3" ng-click="addUser()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
          Add User
      </button>
    </div>
    <div>
      <span style="color:red" ng-show="keyErr">
        <span ng-show="keyErr">{{keyErr}}</span>
      </span>
    </div>
    <div class="dropdown-divider"></div>
    <div class="shadow p-3 mt-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataSource">
            <th scope="row">{{item.name}}</th>
            <td>{{item.phone}}</td>
            <td>{{item.address}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary ml-3" ng-click="editUser(item)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-outline-primary ml-3" ng-click="removeUser(item.id)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-dash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5-.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation">
        <div class="justify-content-end btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-outline-primary" ng-repeat="n in [] | range: totalPages" ng-click="pageChange(n)" ng-class="{'active': pageIndex === n}" ng-class="{'active': pageIndex === n}">{{n}}</button>
          </div>
        </div>
      </nav>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="userFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form name="myForm" novalidate>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label" >Name:<span style="color:red" >*</span></label>
                <input type="text" class="form-control" name="name" ng-model="name" required>
                <div>
                  <span style="color:red" ng-show="nameErr">
                    <span ng-show="nameErr">{{nameErr}}</span>
                  </span>
                </div>
                
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Phone:<span style="color:red" >*</span></label>
                <input type="text" class="form-control" name="phone" ng-model="phone" required>
                <div>
                  <span style="color:red" ng-show="phoneErr">
                    <span ng-show="phoneErr">{{phoneErr}}</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Address:</label>
                <textarea class="form-control" id="user-address" ng-model="address"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
          </div>
        </div>
      </div>
    </div>
    
</div>